<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Error</title>
</head>
<body>
<p>Course already exists. Please create a different course !!</p>
<br>
<a href="/courses"> Go Home</a>
</body>
</html>