<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <style>
        #heading-box {
            width: 100%;
        }

        #heading-box-left {
            float: left;
            width: 50%;
        }

        #heading-box-right {
            text-align: right;
            float: right;
            width: 50%;
        }

        .align-center {
            text-align: center;
        }
    </style>
<body>
<h1 class="align-center"> Student Details </h1>
<table id="student-detail">
    <tr>
        <th>Roll Number</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr>
        <td>{{ student.roll_number }}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
    </tr>
</table>
<h1 class="align-center"> Enrollment List </h1>

<table id="student-enrollments">
    <tr>
        <th>SNo</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Actions</th>
    </tr>
    {% for course in student.courses %}


        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_description }}</td>
            <td>
                <a href="/student/{{ student.student_id }}/withdraw/{{ course.course_id }}">Withdraw</a>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<div class="align-center">
    <a href="/" class="align-center"> Go Back</a>
</div>
</body>
</html>